<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>validando</servlet-name>
        <servlet-class>residencia.modelo.controlador.validando</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrar</servlet-name>
        <servlet-class>residencia.modelo.controlador.cerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registro</servlet-name>
        <servlet-class>residencia.modelo.controlador.registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apoderado</servlet-name>
        <servlet-class>residencia.modelo.controlador.apoderado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarcontrato</servlet-name>
        <servlet-class>residencia.modelo.controlador.cerrarcontrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contrato</servlet-name>
        <servlet-class>residencia.modelo.controlador.contrato</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validando</servlet-name>
        <url-pattern>/valida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrar</servlet-name>
        <url-pattern>/cerrando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registrando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apoderado</servlet-name>
        <url-pattern>/registroapoderado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarcontrato</servlet-name>
        <url-pattern>/contratado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contrato</servlet-name>
        <url-pattern>/contratado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
</web-app>
