<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>validando</servlet-name>
        <servlet-class>residencia.modelo.controlador.validando</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrar</servlet-name>
        <servlet-class>residencia.modelo.controlador.cerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registro</servlet-name>
        <servlet-class>residencia.modelo.controlador.registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarapoderado</servlet-name>
        <servlet-class>residencia.modelo.controlador.cerrarcontrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apoderado</servlet-name>
        <servlet-class>residencia.modelo.controlador.apoderado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contratado</servlet-name>
        <servlet-class>residencia.modelo.controlador.contratado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes</servlet-name>
        <servlet-class>residencia.modelo.controlador.Reportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registroapoderado</servlet-name>
        <servlet-class>residencia.modelo.controlador.regitroapoderado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pago</servlet-name>
        <servlet-class>residencia.modelo.controlador.Pago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Habitaciones</servlet-name>
        <servlet-class>residencia.modelo.controlador.Habitaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizarpersona</servlet-name>
        <servlet-class>residencia.modelo.controlador.Actualizarpersona</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validando</servlet-name>
        <url-pattern>/valida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrar</servlet-name>
        <url-pattern>/cerrando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registrando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarapoderado</servlet-name>
        <url-pattern>/cerrarapoderado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apoderado</servlet-name>
        <url-pattern>/apoderado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contratado</servlet-name>
        <url-pattern>/contrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes</servlet-name>
        <url-pattern>/reportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registroapoderado</servlet-name>
        <url-pattern>/registroapoderado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pago</servlet-name>
        <url-pattern>/pago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Habitaciones</servlet-name>
        <url-pattern>/habitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizarpersona</servlet-name>
        <url-pattern>/actualizarpersona</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
